.cartImage {
  float: left;
  display: block;
  margin: auto;
  padding-top: 5px;

  width: 100px;
  height: 100px;
}
#row {
  padding-right: 5%;
  padding-left: 5%;
  padding-bottom: 15px;
  border-bottom: 2px solid rgba(108, 124, 144, 0.15);
  background-color: whitesmoke;
}

#cardTitle {
  display: block;
  padding-top: 33px;
}

#btnCol {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-sm {
  height: 5px;
  padding: 0%;
}
#itemPrice {
  display: flex;
  justify-content: center;
  align-items: center;
}
#removeBtn {
  display: flex;
  justify-content: center;
  align-items: center;
}

#quantityBtn1,
#quantityBtn2 {
  margin: 4%;
  color: #fff;
}
